/* Wishlist.css */

.back{
  margin: 40px;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid #f8eeee;
  padding: 5px 10px;
  border-radius: 5px;
}

.back:hover {
  background-color: #333;
  color: #fff;
}
/*
.row-container {
  display: flex;
  justify-content: center;
}

.col-4 {
  width: 50%;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

.row1 {
  display: flex;
  align-items: center;
}

.small img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.min-30 {
  margin-left: 20px;
}

.remove-btn button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.remove-btn button:hover {
  color: red;
}

/* Optional: Add more styles as needed */
